{% extends 'base.html' %}

{% block title %} 

{{ catal.seller_name }} 

{% endblock %}


{% block sidebar %}
<!-- --------------------------------------отображение списка продавцов --------------------------------------------------------------- -->
<div class="col-md-2">
  <div class="list-group">
    {% for  itemSeller in sellers %}
    <a href=" {% url 'name_path_seller' itemSeller.pk %}" class="list-group-item list-group-item-action"> {{ itemSeller.seller_name }}</a>
    {% endfor %}
  </div>
</div>
<!-- ----------------------------------------------------------------------------------------------------- -->
{% endblock %}



{% block content %} 
<div class="col-md-9">
  {% for item in catal %}
      <div class="card mb-3">


              <div class="card-header">
                Продавец: <a href="{% url 'name_path_seller' item.seller.pk %}"> {{ item.seller }} </a> 
              </div>
              <!-- --------------------------------------отображение картинки --------------------------------------------------------------- -->
              <div class="media">
                {% if item.photo %}
                  <img src="{{item.photo.url}}" alt="" width="350" class="mr-3">
                {% else %}
                  <img src="\media\photos\new1.png" alt="" width="350" class="mr-3">
                {% endif %}
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------отображение текста --------------------------------------------------------------- -->

                  <div class="media-body">
                    <h5 class="card-title">{{ item.title }}</h5>
                    <p class="card-text">{{ item.comments }}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
              </div>
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------отображение даты пубикации --------------------------------------------------------------- -->
              <div class="card-footer text-muted">
                  {{ item.create_at|date:"Y-m-d H:i:s" }}
              </div>
<!-- ----------------------------------------------------------------------------------------------------- -->                        
      </div>
  {% endfor %}
</div> 

{% endblock %}
