

<!doctype html>
<html lang="en">
<!-- ---------------------------------------вкладка в браузере ---------------------------------------------------- -->  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title> {{ catal.seller_name }}</title>
  </head>
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=" {% url 'name_path_home' %} ">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">

            <li class="nav-item"> <a class="nav-link" href=" {% url 'name_path_home' %} ">Главная</a> </li>
            <li class="nav-item"> <a class="nav-link" href=" {% url 'name_path_home' %} ">Добавить объявление</a> </li>

          </ul>

        </div>
    </nav>
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->
    <div class="conteiner mt-3">
        <h1>{{ title }}</h1>
        <div class="row">
<!-- --------------------------------------отображение списка продавцов --------------------------------------------------------------- -->
          <div class="col-md-2">
            <div class="list-group">
              {% for  itemSeller in sellers %}  <!--все продавцы по Seller.objects.all() ----->

                  <a href=" {% url 'name_path_seller' itemSeller.pk %}" class="list-group-item list-group-item-action"> {{ itemSeller.seller_name }}</a>

              {% endfor %}
            </div>
          </div>
<!-- ----------------------------------------------------------------------------------------------------- -->

            <div class="col-md-9">
                {% for item in catal %}        <!-- отфильтрованный каталог Catalog.objects.filter(seller_id=seller_id) -->
                    <div class="card mb-3">
                            <div class="card-header">
                              Продавец: <a href="{% url 'name_path_seller' item.seller.pk %}"> {{ item.seller }} </a>
          
                            </div>
                            <!-- --------------------------------------отображение картинки --------------------------------------------------------------- -->
                            <div class="media">
                              {% if item.photo %}
                                <img src="{{item.photo.url}}" alt="" width="350" class="mr-3">
                              {% else %}
                                <img src="\media\photos\new1.png" alt="" width="350" class="mr-3">
                              {% endif %}
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------отображение текста --------------------------------------------------------------- -->

                                <div class="media-body">
                                  <h5 class="card-title">{{ item.title }}</h5>
                                  <p class="card-text">{{ item.comments }}</p>
                                  <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>
                            </div>
<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- --------------------------------------отображение даты пубикации --------------------------------------------------------------- -->
                            <div class="card-footer text-muted">
                                {{ item.create_at|date:"Y-m-d H:i:s" }}
                            </div>
<!-- ----------------------------------------------------------------------------------------------------- -->                        
                    </div>
                {% endfor %}
            </div>    

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

  </body>
</html>
