{% extends 'base.html' %}

{% block title %} 
{{ advertItem.title }} 
{% endblock %}

{% block sidebar %}
<!-- --------------------------------------отображение списка продавцов --------------------------------------------------------------- -->
{% include 'inc/_sidebar.html' %}
<!-- ----------------------------------------------------------------------------------------------------- -->
{% endblock %}




{% block content %} 


      <div class="card mb-3">
        <div class="card-header">
          Продавец: <a href="{{advertItem.seller.get_absolute_url }}"> {{ advertItem.seller }} </a>
          {% comment %} <!-- Продавец: <a href="{% url 'name_path_seller' item.seller.pk %}"> {{ item.seller }} </a> -->{% endcomment %}
        </div>
        <!-- --------------------------------------отображение картинки --------------------------------------------------------------- -->
        <div class="media">
          {% if advertItem.photo %}
          <img src="{{advertItem.photo.url}}" alt="" width="350" class="mr-3">
          {% else %}
          <img src="\media\photos\new1.png" alt="" width="350" class="mr-3">
          {% endif %}
          <!-- --------------------------------------отображение текста --------------------------------------------------------------- -->
          <div class="media-body">
            <h5 class="card-title">{{ advertItem.title }}</h5>
            <p class="card-text">{{ advertItem.comments }}</p>
          </div>
        </div>
        
        <!-- --------------------------------------отображение даты пубикации --------------------------------------------------------------- -->
        <div class="card-footer text-muted">
          {{ item.create_at|date:"Y-m-d H:i:s" }}
        </div>
       
      </div>



{% endblock %}

